<footer class="footer section text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="social-media">
					<li>
						<a href="https://www.facebook.com/themefisher">
							<i class="tf-ion-social-facebook"></i>
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com/themefisher">
							<i class="tf-ion-social-instagram"></i>
						</a>
					</li>
					<li>
						<a href="https://www.twitter.com/themefisher">
							<i class="tf-ion-social-twitter"></i>
						</a>
					</li>
					<li>
						<a href="https://www.pinterest.com/themefisher/">
							<i class="tf-ion-social-pinterest"></i>
						</a>
					</li>
				</ul>
				<ul class="footer-menu text-uppercase">
					<li>
						<a href="#">CONTACT</a>
					</li>
					<li>
						<a href="#">SHOP</a>
					</li>
					<li>
						<a href="#">Pricing</a>
					</li>
					<li>
						<a href="#">PRIVACY POLICY</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<% if current_user.nil? %>
	<div class="modal product-modal fade" id="login-modal">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<i class="tf-ion-close"></i>
		</button>
		<div class="modal-dialog" role="document">
			<section class="signin-page account">
				<div class="modal-body">
					<div class="row">
						<div class="col-md-11" style='margin-left: 25px;'>
							<div class="block text-center">
								<h2 class="text-center">Welcome</h2>
								<%= form_for @user, url: user_login_path, html: { class: 'text-left clearfix', method: :post } do |f| %>
									<div class="form-group">
										<%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
									</div>
									<div class="form-group">
										<%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
									</div>
									<div class="text-center">
										<button type="submit" class="btn btn-main text-center" >Login</button>
									</div>
								<% end %>
								<p class="mt-20">New in this site ?<a href="<%= user_sign_up_path %>"> Create New Account</a></p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
<% end %>