<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
      <%= form_for @user, url: admin_login_path, html: { class: 'login100-form', method: :post } do |f| %>
        <span class="login100-form-title p-b-33">
          Admin Console
        </span>
        
        <div class="wrap-input100">
          <%= f.email_field :email, autofocus: true, class: 'input100', placeholder: "Email" %>
        </div>

        <div class="wrap-input100">
          <%= f.password_field :password, autofocus: false, class: 'input100', placeholder: "Password" %>  
        </div>

        <div class="container-login100-form-btn m-t-20">
          <%= f.button "Login", class: "login100-form-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>