/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import 'admin/fontawesome-free/css/all';
 @import "admin/adminlte.min";

 .nav-link.active {
  p {
    color: #fff;
  }
 }

 .text-muted {
  color: #656d77 !important;
 }

 .mb-10 {
   margin-bottom: 10px;
 }

 .mt-10 {
  margin-top: 10px;
}

.select2-selection--single {
  height: 38px !important;
}

.select2-selection__choice__display {
  color: black;
}

// ----------- image
@mixin jv-image($width, $height, $border-radius) {
  position: relative;
  width: $width;
  height: $height;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: bottom;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #f1f3f8 no-repeat center/cover;
  border-radius: $border-radius;
  object-fit: cover;
}

.jv-image-60-60-3 {
  @include jv-image(60px, 60px, 3px);
}

.form-group.has-error {
  .invalid-feedback {
    display: block;
  }
}

textarea.form-control  {
  min-height: 150px !important;
}