/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "user/themefisher-font/style";
 @import "user/bootstrap.min";
 @import "user/animate";
 @import "user/slick/slick-theme";
 @import "user/slick/slick";
 @import "user/style";
 @import "user/home";
 @import 'admin/fontawesome-free/css/all';

 .product-category {
   a {
    color: #000 !important;
   }
 }

 .mt-5 {
   margin-top: 5px;
 }

 .category-box .fix-image {
  width: 400px;
  max-height: 350px;
  object-fit: cover;
 }

 @media(min-width: 1500px) {
   .hero-area {
     height: 1050px;
   }
 }

.breadcrumb > .active.active {
  color: #777;
}

.navbar-badge {
  font-size: 1rem;
  font-weight: 300;
  padding: 2px 5px;
  position: absolute;
  margin-left: 1px;
}

.badge-warning {
  color: #1f2d3d !important;
  background-color: #ffc107 !important;
}

.mb-40 {
  margin-bottom: 40px;
}